@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    max-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.cityName {
    color: white;
    margin-bottom: 20px;
}


.container .searchContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    width: max(25vw, 450px);
    background-color: #F8FAFC;
}

.container .searchContainer .searchField {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
}

.container .searchContainer button {
    background: orange;
    color: white;
    width: max(100px, 10vw);
    border: none;
    font-size: 15px;
    border-radius: 10px;
    transition: ease-in .2s;
    flex: 1;
}

.container .searchContainer button:hover {
    background: rgba(255, 166, 0, 0.644);
}


.container .bg-color {
    background-color: #F8FAFC;

}

.searchField input {
    outline: none;

    padding: 15px 20px;
    border: none;
    background-color: inherit;
    width: 100%;

}

.searchField input::placeholder {
    color: gray;
}

.searchField input:focus {
    color: black;
}

.container .todayWeather {
    margin-top: 20px;
    color: white;
}